
body {
	font-size: 12px;
	line-height: 17px;
	font-family:"Times New Roman",serif;
	color:#656565;

}

a:hover{
	color: black;
	background-color: #20222a;
}

/*Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a*/


div{
	margin:center;
	margin-right:150px;
	margin-left:50px;
	margin-top:90px;
	margin-bottom:90px;
}